* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    height: 100%;
}

h1 {
    position: relative;
    color: #0092ca;
    top: 0vh;
    font-size: 8vh;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top-nav {
    position: relative;
    text-align: center;
    top: 12vh;
    right: 20px;
}

.top-nav-list {
    display: inline-block;
    display: hidden;
}

.link {
    color: #0092ca;
    background-color: #393e46;
    margin: 10px;
    font-size: 4vh;
}

body {
    background-color: #222831;
}

.columns {
    background-color: #393e46;
    border: 2px solid #0092ca;
    color: #eeeeee;
    padding: 5px;
}

.grid-columns {
    position: relative;
    display: grid;
    gap: 1rem;
    height: 10em;
    top: -20vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 250px) {
    .grid-columns {
        grid-template-columns: repeat(1, 1fr);
        top: 0;
    }
}

@media (min-width: 400px) {
    .grid-columns {
        grid-template-columns: repeat(3, 1fr);
        top: -10vh;
    }
}

@media (min-width: 1200px) {
    .grid-columns {
        grid-template-columns: repeat(6, 1fr);
        top: -25vh;
    }
}

@media (min-width: 1700px) {
    .grid-columns {
        grid-template-columns: repeat(6, 1fr);
        top: -10vh;
    }
}